[submodule "pytorch-segmentation-detection"]
	path = pytorch-segmentation-detection
	url = ./external/pytorch-segmentation-detection/
[submodule "external/Object-Pursuit"]
	path = external/Object-Pursuit
	url = git@github.com:Alvinosaur/Object-Pursuit.git
